<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
	<link rel="stylesheet" href="../css/base.css">
	<script src="../plugins/zepto.min.js"></script>
	<script src="../js/common.js"></script>
<style>
	section{
		width: 100%;
		background: #9cf;
		overflow: hidden;
	}
	.main-list{
		width: 280px;
		margin: 50px auto;
	}
	.main-list li{
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 20px;
		background: #ccf;
		border-radius: 50%;
	}
	.main-list a{
		display: block;
		color: #fff;
	}
</style>
<script>
    ;(function(win, doc){
        function change(){
            doc.documentElement.style.fontSize=20*doc.documentElement.clientWidth/320+'px';
        }
        change();
        win.addEventListener('resize', change, false);
    })(window, document);
    $(function(){
    	getSize($("section"));
    	$(window).on("resize", function(){
    		getSize($("section"));
    	});
    });
</script>
</head>
<body>
	<section>
		<ul class="main-list clearfix">
			<li class="fl"><a href="resume.html">简历</a></li>
			<li class="fl"><a href="skill.html">技能</a></li>
		</ul>
	</section>
</body>
</html>