<!DOCTYPE html>
<html lang="en" class="js-no-overflow-scrolling">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../plugins/h5page/H5FullscreenPage.css">
	<link rel="stylesheet" href="../plugins/h5page/page-animation.css">
	<script src="../plugins/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../plugins/h5page/H5FullscreenPage.js"></script>
<style>
	.item1{
		background: #9cf;
	}
	.item2{
		background: #ccf;
	}
	.item3{
		background: #fc9;
	}
	.item4{
		background: #9cc;
	}
	.item{
		color: #fff;
	}
</style>
<script>
    ;(function(win, doc){
        function change(){
            doc.documentElement.style.fontSize=20*doc.documentElement.clientWidth/320+'px';
        }
        change();
        win.addEventListener('resize', change, false);
    })(window, document);


    $(function(){
    	getSize($(".H5FullscreenPage div"));
    	$(window).on("resize", function(){
    		getSize($(".H5FullscreenPage div"));
    	});

		H5FullscreenPage.init(
			{
				'type': 2,
				'pageShow': function(dom){},
				'pageHide' : function(dom){},
				'useShakeDevice' : {
			        'speed' : 30,
			        'callback' : function(page){}
			    },
			    'useParallax' : true,
			    'useArrow' : true,
			    'useAnimation' : true,
			    'useMusic' : {
			        'autoPlay' : true,
			        'loopPlay' : true,
			        'src' : '../audio/river.mp3'
			    }
    		}
    	);
	});
</script>
</head>
<body class="H5FullscreenPage">
	<div class="H5FullscreenPage-wrap">
		<div class="item item1">1</div>
		<div class="item item2">2</div>
		<div class="item item3">3</div>
		<div class="item item4">4</div>
	</div>
</body>
</html>